*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
/*    background-color: red;*/
}

.container {
    width: 960px;
    margin: 0 auto;
    display: flex;
}

.form-wrapper {
    min-width: 690px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #e3e3e3;
    height: auto;
    padding: 10px;
}

.form-control:not(:last-child) {
    margin-bottom: 10px;
}

.form-control input, .form-control .max-width{
    display: inline-block;
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 3px;
}

.form-control input:focus,
.form-control .max-width:focus {
    outline: none;
}

.btn {
    padding: 5px 10px;
    background-color: green;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #fff;
}
